body {
  background: #111;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}

#game {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

canvas {
  background: #222;
  border: 2px solid #555;
}
